body {
  margin: 0;
}

.custom-shape-divider-bottom-1604258493 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1604258493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1604258493 .shape-fill {
  fill: #FFFFFF;
}

.content {
  /* background-color: #A9A9A9; */
  background: rgb(255,255,255);
}

.front {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  margin-top: 100px;
  margin-bottom: 100px;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.125;
  color:#fff;
  z-index:2;
}

::selection {
  background: #00973c;
}

::-moz-selection {
  background: #00973c;
}

.subtitle {
  color: #dbdbdb;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: -1.25rem;
}

.underScore {
  -webkit-animation:blink 1s ease-in-out infinite;
  animation:blink 1s ease-in-out infinite;
}

.glitch {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%); 
}

.glitch:before, .glitch:after {
  display: block;
  content: "BERNAT TORRES";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.glitch:after {
  color: #f0f;
  z-index: -2;
}
.glitch:before {
  color: #00ff2a;
  z-index: -1;
}

.glitch:hover:before {
  -webkit-animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.glitch:hover:after {
  animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px);
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px);
  }
  60% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  80% {
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px);
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px);
  }
  60% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  80% {
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
