html {
  /* background-image: linear-gradient(to right, #00c9a3, #00c1b9, #00b7ca, #00acd3, #009fd4, #0997d5, #208ed4, #3585d2, #4c7fd1, #6178cf, #7371ca, #8469c4); */
  background-image: linear-gradient(55deg, #00fff0 0%, #677ef8 50%, #cc00ff 100%);
}

body {
  margin: 0;
}

.boxes {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.box {
  padding: 2.5rem;
  background-color: #020911;
  border-radius: 1rem;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.divider {
  width: 2px;
  margin: 6px 0;
  background: white;
}

.style-selector {
  width: 70%;
  margin: 20px;
}

.styles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.style {
  border: 2px solid white;
  border-radius: 3px;
  margin: 5px;
  height: 100px;
  width: 100px;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.selected-style {
  border: 2px solid greenyellow !important;
  transform: scale(1.3) !important;
  z-index: 1 !important;
}

.style:hover {
  z-index: 1;
  border: 2px solid white;
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.upload-file {
  margin: 20px;
  width: 30%;
}

.dragover {
  opacity: 0.9;
  border: 2px solid black !important;
}

.drop-area {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  border: 2px dashed black;
  position: relative;
  overflow: hidden;
}
.icon {
  font-size: 100px;
  margin-bottom: 16px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  pointer-events: none;
}
p {
  font-size: 14px;
}
p span {
  font-weight: 600;
}
.thumbnail, .img-name {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.thumbnail {
  object-fit: cover;
  z-index: 100;
}
.img-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  padding: 16px;
  background: rgba(0, 0, 0, .5);
  z-index: 200;
  opacity: 0;
  transition: all .3s ease;
}
.drop-area:hover .img-name {
  opacity: 1;
}

.loading {
  background-image: url("https://cdn.dribbble.com/users/1303437/screenshots/4952713/abstract-loader-white.gif") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}